@page
@model Mission7.Pages.CheckoutCompleteModel
@{
}
<br />
<div class="text-center">
    <h2>Thank you! Your order has been submitted.</h2>
   <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>